{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ range .Pages }}
<article>
  <header>
    <h2><a href='{{ .Permalink }}'>{{ .Title }}</a></h2>
    <p class='date-and-tags'>
    <time datetime="{{ .Date.Format "2006-01-02" }}" pubdate="true">{{ .Date.Format "2006-01-02" }}</time>
    {{ if .Params.tags }}
     :: <span class="tags">
      {{ $tags := .Params.tags }}
      {{ range $index, $tag := $tags }}
        {{ if $index }}, {{ end }}<a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}">{{ $tag }}</a>
      {{ end }}
    </span>
    {{ end }}
    </p>
    <p class='authors'>By: <span class="authors">{{ .Site.Params.author }}</span></p>
  </header>

  <p>{{ .Summary }}</p>
  {{ if .Truncated }}
  <div class="post-footer">
     <a href="{{ .Permalink }}">&hellip; more &hellip;</a>
  </div>
  {{ end }}
</article>
{{ end }}
{{ end }}